/* colors */

.home-container {
    --blue-background: #4696e5;
    --blue-button: #0095f6;

    --text-grey: #d1e5f9;
    --text-white: #ffffff;
}

.w-80 {
    width: 80%;
}

.h-20 {
    height: 20%;
}
.h-400px {
    height: 300px;
}
/*  Home Container  */
/* .home-container {
    height: 100vh;
    min-height: 35em;
}

    .home-container h1 {
        color: var(--text-white);
        font-size: 3.25em;
        margin-bottom: 0.5em;
    }

    .home-container p {
        max-width: 50vw;
        font-size: 1.5em;
        line-height: 1.35em;
        color: var(--text-grey);
        text-align: end;
    } */


/* Buttons */
/* .home-container .btn {
    position: relative;
    height: 3rem;

    margin-left: 1rem;
    padding: 0 1.5rem;

    font-size: 1rem;
    border-radius: 6px;
  
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
} */
/* 
.buttons {
    padding-block: 1rem;
}

.home-container .btn.login {
    background-color: var(--text-white);
    color: var(--blue-button);
}
    .home-container .btn.login:hover {
        background-color: var(--blue-background);
        color: var(--text-white);

    }

.home-container .btn.signup {
    background-color: var(--blue-background);
    color: var(--text-white);
}

    .home-container .btn:hover::before {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 0;

        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.2);
    } */

/* Title Container */
/* .home-container .title-container {
    max-width:40%;
    text-align: right;
    margin: -3.5em 4em 0 0;
} */

/* Title Image */
/* .title-image {
    width: 13rem;

    border: 2px solid gray;
}


    .title-image img {
        display: block;
        position: relative;
        width: 100%;
    }
*/

    .title-image .inner, .title-image:before, .title-image:after {
        display: block;
        border: solid 2px rgba(255, 255, 255, 0.25);

        border-color: #e6e6e6;
    }

    .title-image:before, .title-image:after {
        content: '';
        border-color: #e6e6e6;
    }

    .title-image:before {
        border-bottom: 0;
    }

    .title-image:after {
        border-top: 0;
    }
 
