/* .my-recipes-container {
    --blue-background: #4696e5;
    --blue-button: #0095f6;
    
    border: 2px solid red;

    max-width: 500px;

    margin-inline: auto;
    margin-block: 5rem;
}

.recipe-container {
    position: relative;
}

.delete-recipe-button {
    position: absolute;
    top: 88.5%;
    right: 50%;
    z-index: 2;
} */

