/* .feed-array-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.bookmark-recipe-button {
    background-color: rgb(244, 178, 96)!important;
}
    .unlike-recipe-button {
        z-index: 3;
        color: var(--blue-button);
        background-color: var(--text-white)!important;
        border: 1px solid var(--blue-button);
    } 

    .unBookmark-recipe-button {
        z-index: 3;
        color: rgb(244, 178, 96)!important;
        background-color: var(--text-white)!important;
        border: 1px solid rgb(244, 178, 96)!important;
    }
        .unlike-recipe-button:active,
        .unBookmark-recipe-button:active {
            transform: none;
        }

.likes {
    position: absolute;
    top: 75%;
    right: 2%;
    z-index: 2;

    color: rgb(203, 12, 44);
} */